body {
  margin: 0;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  position: relative;
}

canvas {
  background: #222;
  border: 4px solid #000;
  display: block;
}

.dialogue-box {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 600px;
  height: 120px;
  background: rgba(0,0,0,0.7);
  border: 3px solid #fff;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  font-size: 20px;
  line-height: 1.4;
}

/* Botones  */
.dialogue-button {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background: orange;      
  color: black;
  font-weight: bold;
  border-radius: 15px;      /* para redondear */
  cursor: pointer;
  border: none;
  text-align: center;
}

.dialogue-button:hover {
  background: #ffb347;      
}

